* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-color: #c4c4c4 transparent;

    input,
    select {
        border-radius: 10px;
        padding: 5px;
    }

}

/* INICIO NAV*/
.logo-nav-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: black;
}

.menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.menu li {
    padding-right: 20px;
}

.menu a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    color: gray;
    transition-duration: 0.4s;
}

.logo:hover {
    transform: scale(1.10);
}

/* FINAL NAV */

/* IMAGEN HERO*/
.eventos-top {
    color: white;
    background-image: url(/assets/fondo3.jpg);
    width: 100%;
    text-align: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body-hero {
    padding-top: 15px;
    color: white;
    font-size: 30px;

}

.card-img-hero:hover {
    filter: grayscale(50%);
    transform: scale(1.10);
}

.card-img-hero {
    margin-top: 60px;
}

/* IMAGEN HERO*/


/* INICIO CATEGORIAS*/

.categorias-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias-container p {
    display: flex;
    align-items: center;
    margin: 30px;
}

.search {
    margin-left: 10%;

}

/* FIN CATEGORIAS */

/*INICIO CARTELERA */

.cartelera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cartelera h2 {
    margin-left: 30px;
}

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.card-title {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.card-img:hover {
    filter: grayscale(50%);
    transform: scale(1.10);
}

/*INICIO CARTELERA */

/* INICIO CATEGORIAS*/

.categorias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.categorias-container p {
    display: flex;
    align-items: center;
    margin: 30px;
    text-shadow: 5px 1px 2px black;
}

.search {
    margin-left: 10%;

}

/* FIN CATEGORIAS */

/*INICIO CARTELERA */

.Cartelera {
    margin-top: 15px;
}

.Cartelera h2 {
    margin-left: 30px;
}

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.card-title {
    display: flex;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 1px 2px black;
    color: white;
}

.card-img:hover {
    filter: grayscale(50%);
    transform: scale(1.10);
}

hr {
    margin-top: 50px;
    align-content: center;
    border-color: gray;
    margin-left: 15%;
    margin-right: 15%;
}

/*INICIO CARTELERA */


/* INICIO VISTA DETALLADA */

.body-peliculas{
    background-image: url(../assets/fondo-rojo.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-pelicula {
    margin-top: 50px;
}

.detalle-body {
    display: flex;
    justify-content: space-between;
}

.descripcion {
    margin-left: 22px;
    font-size: 25px;
}

.img-boton {
    text-align: center;
    margin-left: 30px;

}

.img-boton image {
    display: block;
}

.img-boton button {
    margin-top: 20px;
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    width: 200px;
    font-weight: bold;

}

.img-boton button:hover {
    transform: scale(1.10);
}

.peliculas-similares {
    margin-top: 50px;
}

.peliculas-similares h2 {
    margin-left: 30px;
}


/* FIN VISTA DETALLADA */



/*INICIO FOOTER */



.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    text-align: center;
    align-content: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
    padding: 0;



}

.Menu a {
    color: white;
}

.Menu li {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.icons h5 {
    margin-bottom: 10px;
}

.icons a {
    justify-content: center;
    align-items: center;
    color: inherit;
}

.legal-list {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    flex-direction: column;
    list-style: none;
    position: left;
    padding: 0;
}

.legal-list a {
    color: white;
}

.footer-container a:hover {
    color: gray;
    transition-duration: 0.4s;
}

/*FIN FOOTER */


/* LOGIN */
.img-banner{
    position: relative; /* El contenedor de la imagen */
    width: 100%; /* Ancho del contenedor */
    height: 200px; /* Altura del contenedor */
    display: flex; /* Usar flexbox para alinear */
    flex-direction: column; /* Columna para alinear la imagen y el texto */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}
.img-banner img{
    width: 100%; /* Imagen ocupa todo el ancho del contenedor */
    height: 200px; /* Imagen ocupa todo el alto del contenedor */
    object-fit: cover; /* Ajustar la imagen a la proporción de la imagen */
}
.banner-texto{
    position: absolute; /* Posicionamiento absoluto */
    top: 60%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar la posición para centrar el texto */
    color: white; /* Texto blanco */
    text-align: center; /* Alinear el texto centrado */
}
.banner-texto h1{
    font-size: 50px; /* Tamaño del texto */
}
.banner-texto p{
    font-size: 20px; /* Tamaño del texto */
}

.contenedor-login{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    background-color: rgb(0, 0, 0);
    gap: 20px;
    padding: 20px;
    border: 2px solid #070707;
    box-sizing: border-box;
    
}
.form .input_field{
    display: flex;
    align-items: center;
}

form .input_field label{
    width: 200px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 15px;
}
.form .input_field label.titulo{
    width: 200px;
    margin-right: 0px;
}
.form .input_field input{
    width: 100%;
    outline: none;
    border: 1px solid #070707;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.form_registro .input_field input{
    width: 60%;
}
.form_registro .input_field .box_tarjeta{
    width: 40%;
    margin-left: 45px;
}
.form_registro .input_field .box_clave{
    width: 20%;
    margin-left: 80px;
    text-align: center;
}

.form .input_field input:focus{
    border: 2px solid #d40303;
}
.btn{
    width: 200px;
    padding: 8px 10px;
    font-size: 15px;
    border: none;
    background: white;
    color: black;
    border-radius: 4px;
    text-align: center;
}

.btn:hover{
    background: #d40303;
    color: white;
}
.form .enlace{
    color: white;
    text-decoration: underline;
}
.input_field_btns{
    display: flex;
    flex-wrap: wrap; /* Para pantallas pequeñas */
    justify-content: space-between; /* Espaciado horizontal */
    width: 80%; /* Asegura que el contenedor ocupe todo el ancho */
}
.input_field_btns .btn{
    margin-bottom: 10px; /* Espacio entre los botones en la siguiente línea */
    width: 48%; /* Ocupan un poco menos del ancho para el espaciado */
}
/* REGISTRO  */
.registro{
    display: flex;
    margin: 0px 200px;
}


/* LOGIN Responsive */
@media(max-width: 420px) {
    .img-banner{
        height: 150px;
        img{
            height: 150px;
        }
    }
    .form{
        margin-top: 0px;
    }
    .input_field{
        flex-direction: column;
        align-items: flex-start;
    }
    .input_field label{
        margin-bottom: 5px;
    }
}
@media (max-width: 768px) {
    .input_field_btns{	
    flex-direction: column; /* En la siguiente línea, los botones se apilan */
    justify-content: center; /* Centrar los botones verticalmente */
  }

  .input_field_btns .btn{
    width: 100%; /* Ocupan todo el ancho en pantallas pequeñas */
  }
  .registro{
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
  }
  .form_registro{
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }
  
}